<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Graphical" version="1.0.2" />
  <package id="MarkdownPS" version="1.9.0" />
  <package id="posh-git" version="1.1.0" />
  <package id="posh-sshell" version="0.3.1" />
  <package id="PowerShellGet" version="2.2.5" />
  <package id="PowerType" version="0.1.0" />
  <package id="Terminal-Icons" version="0.11.0" />
  <package id="poshy-code-search" version="0.3.14" />
  <package id="poshy-colors" version="0.3.14" />
  <package id="poshy-coreutils-ish" version="0.7.0" />
  <package id="poshy-dir-nav" version="0.4.0" />
  <package id="poshy-ecks" version="0.5.22" />
  <package id="poshy-env-proxy" version="0.5.12" />
  <package id="poshy-env-var" version="0.5.25" />
  <package id="poshy-ls-isms" version="0.2.13" />
  <package id="poshy-lucidity" version="0.3.16" />
  <package id="poshy-multimedia" version="0.6.15" />
  <package id="poshy-net" version="0.3.14" />
  <package id="poshy-notify-send" version="0.2.15" />
  <package id="poshy-sh-isms" version="0.3.14" />
  <package id="poshy-sshconfig" version="0.5.13" />
  <package id="poshy-viewer-finder" version="0.2.14" />
  <package id="poshy-wrap-apt" version="0.2.14" />
  <package id="poshy-wrap-argcomplete" version="0.3.15" />
  <package id="poshy-wrap-brew" version="0.2.15" />
  <package id="poshy-wrap-curl" version="0.2.14" />
  <package id="poshy-wrap-dnf" version="0.2.14" />
  <package id="poshy-wrap-docker-compose" version="0.2.14" />
  <package id="poshy-wrap-docker" version="0.2.14" />
  <package id="poshy-wrap-dotnet" version="0.2.15" />
  <package id="poshy-wrap-forgit" version="0.2.14" />
  <package id="poshy-wrap-gem" version="0.2.14" />
  <package id="poshy-wrap-gh" version="0.2.3" />
  <package id="poshy-wrap-git-flow" version="0.2.14" />
  <package id="poshy-wrap-git-lfs" version="0.2.14" />
  <package id="poshy-wrap-git" version="0.2.14" />
  <package id="poshy-wrap-golang" version="0.2.15" />
  <package id="poshy-wrap-helm" version="0.2.15" />
  <package id="poshy-wrap-kubectl" version="0.2.14" />
  <package id="poshy-wrap-maven" version="0.2.13" />
  <package id="poshy-wrap-nginx" version="0.2.15" />
  <package id="poshy-wrap-nmap" version="0.2.14" />
  <package id="poshy-wrap-npm" version="0.2.15" />
  <package id="poshy-wrap-pip" version="0.2.14" />
  <package id="poshy-wrap-pipenv" version="0.2.14" />
  <package id="poshy-wrap-pyenv" version="0.2.14" />
  <package id="poshy-wrap-pylint" version="0.2.14" />
  <package id="poshy-wrap-python" version="0.2.15" />
  <package id="poshy-wrap-ruby" version="0.3.14" />
  <package id="poshy-wrap-systemctl" version="0.2.14" />
  <package id="poshy-wrap-terraform" version="0.3.15" />
  <package id="poshy-wrap-terragrunt" version="0.3.12" />
  <package id="poshy-wrap-tmux" version="0.3.14" />
  <package id="poshy-wrap-vagrant" version="0.3.13" />
  <package id="poshy-wrap-vault" version="0.3.12" />
  <package id="poshy-wrap-vscode" version="0.2.12" />
  <package id="poshy-wrap-wget" version="0.3.14" />
  <package id="poshy-wrap-wt" version="0.3.13" />
  <package id="poshy-wrap-yum" version="0.2.13" />
  <package id="poshy-wrap-zypper" version="0.2.12" />
</packages>
