<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Az.Tools.Predictor" version="0.5.0" />
  <package id="Graphical" version="1.0.2" />
  <package id="MarkdownPS" version="1.9.0" />
  <package id="oh-my-posh" version="6.2.0" />
  <package id="posh-git" version="1.0.0" />
  <package id="posh-sshell" version="0.3.1" />
  <package id="PowerShellGet" version="2.2.5" />
  <package id="Terminal-Icons" version="0.6.0" />
</packages>
