.editorconfig   text=auto
.git*           text=auto
*.bash          text eol=lf
*.config        text=auto
*.json          text=auto
*.md            text=auto
*.ps1           text=auto
*.psd1          text=auto
*.psm1          text=auto
*.py            text=auto
*.sh            text eol=lf
*.txt           text=auto
*.yaml          text=auto
*.yml           text=auto
*.zsh           text eol=lf
gitconfig*      text=auto
pythonrc        text eol=lf
shell/**        text eol=lf
*.png           binary
